.about-us-page {
  @include for-size(small) {
    padding-top: 0;
  }

  @include e(content) {
    margin-top: 40px;

    @include for-size(medium) {
      margin-top: 77px;
    }
  }

  @include e(heading) {
    margin-bottom: 20px;
    color: $primary-color;
    font: normal bold 24px/1.25 $font-family--primary-bold;

    @include for-size(medium) {
      float: left;
      font: normal bold 36px $font-family--primary-bold;
    }
  }

  @include e(right-section) {
    padding-bottom: 40px;

    @include for-size(medium) {
      float: right;
      width: 55.5%;
      margin-right: 15px;
    }
  }

  @include e(text) {
    margin-bottom: 20px;
    color: $rolling-stone;
    font: normal normal 18px/1.56 $font-family--secondary;

    @include for-size(medium) {
      font: normal normal 24px/1.5 $font-family--secondary;
    }
  }

  @include e(link) {
    @include for-size(medium) {
      font-size: 20px;
    }
  }

  @include e(image-banner) {
    height: 130px;
    background: url("../../img/phil-team.jpg");
    background-size: cover;
    background-position: right center;

    @include for-size(small) {
      height: 156px;
      background-position: center;
      background-image: url("../../img/phil-team-dt-tb.jpg");
    }

    @include for-size(medium) {
      height: 208px;
    }

    @include for-size(large) {
      height: 312px;
    }

    @include for-size(1440) {
      height: 374px;
    }
  }

  @include e(text-banner) {
    display: block;
    padding: 12px 0 16px;
    color: $rolling-stone;
    background-color: $pale-blue;
    font: normal normal 18px/1.56 $font-family--secondary;

    &:hover,
    &:focus {
      text-decoration: none;

      .news-room {
        text-decoration: underline;
      }
    }

    @include for-size(medium) {
      padding: 20px 0;
      font: normal normal 20px/1.4 $font-family--secondary;
    }
  }

  @include e(fast-growing-section) {
    background-color: $alabaster;
  }

  @include e(list) {
    max-width: 595px;
    margin: 30px auto 0;

    @include for-size(large) {
      margin: 46px 0 0;
    }

    li {
      color: $black;
      margin-bottom: 30px;
      font: normal 300 16px/1.5 $font-family--secondary;

      @include for-size(medium) {
        margin-bottom: 40px;
        font: normal 300 18px/1.67 $font-family--secondary;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include e(list-item-icon) {
    width: 50px;
    margin-right: 20px;

    @include for-size(medium) {
      width: 70px;
      margin-right: 30px;
    }
  }

  @include e(list-item-description) {
    width: calc(100% - 70px);

    @include for-size(medium) {
      width: calc(100% - 100px);
    }
  }

  @include e(list-item-title) {
    display: inline-block;
    font-family: $font-family--primary-medium;

    @include for-size(medium) {
      font: normal 500 22px/1.36 $font-family--primary-medium;
    }
  }

  @include e(column-image-container) {
    height: 250px;
    background: url("../../img/map-mb.jpg") no-repeat center;
    background-size: cover;

    @include for-size(large) {
      height: 100%;
      background-image: url("../../img/map-dt.jpg");
    }

    @include for-size(extra-large) {
      background-position-x: right;
    }
  }

  @include e(people-values-section) {
    background-color: $alabaster;
  }

  @include e(people-values-column) {
    @include for-size(1024) {
      max-width: 350px;
      margin: 0 15px 0 auto;
    }
  }

  @include e(people-values-list) {
    max-width: 512px;
    margin: 40px auto 0;

    @include for-size(large) {
      margin: 60px 0 0;
    }
  }

  @include e(column-text) {
    color: $black;
    max-width: 512px;
    text-align: center;
    margin: 30px auto 0;
    font: normal 300 16px/1.5 $font-family--secondary;

    @include for-size(medium) {
      margin-top: 60px;
      font: normal 300 18px/1.63 $font-family--secondary;
    }

    @include for-size(large) {
      margin: 60px 0 0;
      text-align: left;
      max-width: 590px;
    }
  }

  @include e(image-list) {
    max-width: 458px;
    margin: 30px auto 0;

    @include for-size(medium) {
      margin-top: 40px;
    }

    li {
      margin-bottom: 18px;

      @include for-size(small) {
        margin-bottom: 50px;
      }

      &:last-child {
        margin-bottom: 0;

        @include for-size(large) {
          margin-bottom: 50px;
        }
      }
    }
  }

  @include e(image-list-item) {
    height: 84px;
    width: 40.26%;
    display: flex;
    max-width: 122px;
    align-items: center;

    @include for-size(small) {
      max-width: 169px;
    }

    img {
      width: 100%;
    }
  }
}
