.contact-page {
  
  @include for-size(small) {
    padding-top: 0;
  }

  @include e(wrapper) {
    margin: 32px 0 64px;

    @include for-size(small) {
      margin: 40px 0 84px;
    }

    @include for-size(medium) {
      margin: 40px 0 90px;
    }
  }

  @include e(image) {
    width: 200px;
    height: 150px;
    margin: 0 auto;
    background: url("../../img/s-vis-a-vis-image.png") no-repeat;
    background-position-x: center;
    background-size: cover;

    @include for-size(small) {
      width: 267px;
      height: 200px;
    }
  }

  @include e(section) {
    margin: 30px auto 0;
    max-width: 452px;

    &:first-child {
      margin-top: 34px;
      padding-bottom: 30px;
      border-bottom: 1px solid $mischka;
    }

    &:nth-child(2) {
      padding-right: 25px;

      .ContactPage__secondary-heading {
        margin-bottom: 12px;
      }
    }

    &:last-child {
      margin-top: 30px;
    }
  }

  @include e(secondary-heading) {
    color: $strong-blue;
    margin: 0 auto 15px;
    font: normal 22px/1.45 $font-family--primary-medium;

    @include for-size(small) {
      font: normal 24px/1.67 $font-family--primary-medium;
    }
  }

  @include e(link) {
    font-size: 16px;
    min-width: 140px;
    line-height: 1.75;
    display: inline-block;

    @include for-size(small) {
      font-size: 18px;
      min-width: 170px;
      line-height: 1.33;
      letter-spacing: 1px;
    }
  }

  @include e(tertiary-heading) {
    color: $black;
    margin-bottom: 12px;
    font: normal 500 18px/2 $font-family--primary-medium;

    @include for-size(small) {
      font-size: 20px;
    }
  }

  @include e(text) {
    margin-bottom: 20px;
    color: $cloudy-nightsky;
    font: normal normal 16px/1.63 $font-family--primary;

    @include for-size(small) {
      font-size: 18px;
      line-height: 1.56;
    }
  }

  @include e(button-link) {
    display: inline-block;
    padding: 11px 12px;
    min-width: 138px;
    border-radius: 4px;
    text-transform: uppercase;
    font: normal 500 16px $font-family--primary-medium;
  }
}
