.manufacturers-page {
  @include e(banner-wrapper) {
    position: relative;
    background-color: $athens-gray;

    &::before {
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      height: 438px;
      position: absolute;
      background: url("../../img/icons/mfn-banner-mobile.png") no-repeat;
      background-position: calc(100% - 7px) bottom;

      @include for-size(small) {
        width: 100%;
        left: 0;
        height: 325px;
        background-position-x: left;
        background-size: auto 325px;
      }

      @include for-size(medium) {
        width: 50%;
        left: auto;
        background-size: auto;
        height: 345px;
        background-position-x: right;
        background-size: auto 345px;
        background-image: url("../../img/icons/mfn-banner-desktop.png");
      }

      @include for-size(extra-large) {
        width: 50%;
        left: auto;
        background-size: auto;
        height: 100%;
        background-position-x: right;
        background-size: auto 500px;
        background-image: url("../../img/icons/mfn-banner-desktop.png");
      }

      @include for-size(1440) {
        width: 50%;
        left: auto;
        background-size: auto;
        height: 100%;
        background-position-x: right;
        background-size: auto 600px;
        background-image: url("../../img/icons/mfn-banner-desktop.png");
      }
    }
  }

  @include e(header) {
    background-color: transparent;
    position: static;

    &.header--fixed-top {
      background-color: $white;
      position: fixed;

      @include for-size(small) {
        position: static;
        background-color: transparent;
      }
    }
  }

  @include e(banner) {
    height: 982px;
    padding: 23px 0 0;

    @include for-size(375) {
      height: 900px;
    }

    @include for-size(425) {
      height: 860px;
    }

    @include for-size(small) {
      height: 670px;
      padding-top: 32px;
    }

    @include for-size(medium) {
      padding-top: 77px;
    }
  }

  @include e(banner-heading) {
    max-width: 500px;
    margin-bottom: 20px;
    color: $primary-color;
    font: normal bold 26px $font-family--primary-bold;

    @include for-size(small) {
      font: normal bold 26px $font-family--primary-bold;
      max-width: 600px;
    }

    @include for-size(medium) {
      font-size: 40px;
      margin-bottom: 24px;
      line-height: 52px;
    }
  }

  @include e(banner-text) {
    max-width: 600px;
    color: $rolling-stone;
    margin-bottom: 20px;
    font: normal normal 16px/1.5 $font-family--secondary;

    @include for-size(1440) {
      max-width: 500px;
    }

    @include for-size(1441) {
      max-width: 600px;
    }

    @include for-size(medium) {
     /// max-width: 600px;
      font: normal normal 22px/1.36 $font-family--primary;
    }

    
  }

  @include e(banner-link) {
    max-width: 600px;
    
    @include for-size(medium) {
      max-width: 370px;
    }

    @include for-size(large) {
      max-width: 500px;
    }
  }

  @include e(section) {
    padding: 38px 0;

    @include for-size(medium) {
      padding: 80px 0;
    }

    @include m(platform) {
      display: none;
      position: relative;

      @include for-size(medium) {
        padding: 144px 0 90px;
        background: url("../../img/icons/link-desktop.svg") no-repeat;
        background-position: calc(50% - 351px) 57px;
      }

      @include for-size(large) {
        background-position: calc(50% - 338px) calc(100% + 1px);
      }

      &::after {
        top: 0;
        right: 0;
        content: "";
        width: 62px;
        height: 275px;
        position: absolute;
        background: url("../../img/icons/link-mobile.svg") no-repeat;

        @include for-size(medium) {
          display: none;
        }
      }
    }
  }

  @include e(section-col) {
    @include m(left) {
      &::before {
        content: "";
        position: absolute;
      }
    }
  }

  @include e(section-heading) {
    margin-bottom: 20px;
    color: $primary-color;
    font: normal 500 26px/1.42 $font-family--primary-bold;

    @include for-size(medium) {
      font-size: 40px;
      line-height: 1.28;
      margin-bottom: 24px;
    }
  }

  @include e(section-text) {
    margin-bottom: 16px;
    color: $rolling-stone;
    font: normal normal 16px/1.5 $font-family--secondary;

    @include for-size(medium) {
      font: normal normal 22px/1.36 $font-family--primary;
    }
  }

  @include e(accordion-wrapper) {
    margin: 37px 0 0;

    @include for-size(medium) {
      margin: 73px 0 8px;
    }
  }

  @include e(accordion) {
    margin-bottom: 16px;

    @include for-size(medium) {
      margin-bottom: 20px;
    }

    &:last-child {
      @include for-size(medium) {
        margin-bottom: 0;
      }
    }
  }

  @include e(accordion-list) {
    margin: 0 auto;

    @include for-size(medium) {
      float: left;
      width: 49%;
      max-width: 440px;
    }

    &:last-child {
      @include for-size(medium) {
        float: right;
      }
    }
  }

  @include e(accordion-list-icon) {
    float: left;
    width: 55px;
    display: none;
    margin: 15px 10px 0 0;

    @include for-size(medium) {
      display: block;
    }

    @include for-size(large) {
      width: 70px;
    }
  }

  @include e(accordion-box) {
    padding: 10px;
    background-color: $pale-blue;
    .cursor--pointer {
      position: relative;

      input {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        cursor: pointer;
      }
    }

    input {
      + p {
        display: none;
      }
      &:checked {
        + p {
          display: block;
        }
      }
    }

    @include for-size(medium) {
      float: left;
      width: calc(100% - 65px);
    }

    @include for-size(large) {
      padding: 18px 20px;
      width: calc(100% - 80px);
    }
  }

  @include e(accordion-row) {
    display: flex;
    justify-content: center;
  }

  @include e(accordion-title) {
    display: flex;
    min-height: 50px;
    color: $navy-blue;
    align-items: center;
    width: calc(100% - 20px);
    font: normal 500 16px/1.6 $font-family--primary-medium;

    @include for-size(medium) {
      font-size: 18px;
      min-height: 62px;
      line-height: 1.45;
    }

    @include for-size(large) {
      font-size: 22px;
    }
  }

  @include e(accordion-icon) {
    margin-top: 7px;
    color: $primary-color;
    font: normal 500 30px/1 $font-family--primary-medium;

    @include for-size(medium) {
      margin-top: 2px;
    }
  }

  @include e(accordion-text) {
    margin-top: 20px;
    color: $rolling-stone;
    font: normal normal 16px/1.5 $font-family--primary;
  }

  @include e(expand-btn) {
    font: normal normal 16px/1.5 $font-family--primary;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    img {
      width: 11px;
      margin-left: 10px;
      vertical-align: middle;
    }

    @include for-size(medium) {
      display: none;
    }
  }

  @include e(items-list) {
    margin-bottom: 20px;

    li {
      color: $oslo-gray;
      position: relative;
      padding-left: 18px;
      font: normal normal 16px/1.63 $font-family--primary;

      @include for-size(large) {
        font-size: 22px;
        line-height: 1.82;
      }

      &::before {
        left: 0;
        top: 8px;
        width: 6px;
        height: 6px;
        content: "";
        position: absolute;
        border-radius: 50%;
        background-color: $primary-color;

        @include for-size(large) {
          top: 16px;
        }
      }
    }

    @include m(mobile) {
      @include for-size(medium) {
        display: none;
      }
    }

    @include m(desktop) {
      display: none;

      @include for-size(medium) {
        float: right;
        width: 100%;
        display: block;
        max-width: 470px;
        padding-left: 30px;
      }
    }
  }

  @include e(contact-section) {
    padding-top: 12px;

    @include for-size(medium) {
      padding-top: 160px;
    }
  }

  @include e(network-section) {
    padding: 60px 0;
    text-align: center;
    background-color: $alabaster;

    @include for-size(medium) {
      padding: 80px 0;
      text-align: left;
    }
  }

  @include e(image) {
    width: 100%;
    max-width: 281px;
    margin: 0 auto 56px;

    @include for-size(medium) {
      max-width: 401px;
      margin: 0;
    }
  }

  @include e(column-text) {
    text-align: left;
    color: $navy-blue;
    font: normal normal 16px/1.63 $font-family--primary-medium;

    @include for-size(medium) {
      padding-left: 30px;
      max-width: 500px;
      margin-top: 43px;
      font: normal normal 22px/1.45 $font-family--primary-medium;
    }

    @include e(sub) {
      margin-top: 12px;
      color: $black;
      text-align: left;
      font: normal normal 16px/24px $font-family--primary;

      @include for-size(medium) {
        margin-top: 16px;
        font: normal normal 18px/26px $font-family--primary;
      }
    }
  }

  @include e(form-section) {
    @include for-size(medium) {
      padding-left: 30px;
    }

    @include for-size(extra-large) {
      width: 100%;
      float: right;
      max-width: 470px;
    }
  }

  @include e(form) {
    margin: 30px 0 26px;

    @include for-size(small) {
      margin-bottom: 46px;
    }

    @include for-size(medium) {
      margin-bottom: 30px;
    }
  }

  @include e(button) {
    min-width: 138px;
    margin-top: 32px;
    padding: 12px 20px;
    font: normal 500 16px $font-family--primary-medium;
  }

  @include e(form-heading) {
    display: table;

    @include for-size(small) {
      display: block;
    }
  }

  @include e(form-text) {
    color: $navy-blue;
    display: table-cell;
    font: normal normal 16px/1.63 $font-family--primary;
    vertical-align: middle;

    @include for-size(small) {
      display: block;
      font-size: 26px;
    }

    @include for-size(medium) {
      max-width: 429px;
    }
  }

  @include e(form-icon) {
    display: table-cell;
    float: left;
    margin: 28px 47px 28px 0;
    height: 40px;

    @include for-size(small) {
      display: inline;
      margin: 30px 40px 30px 0;
      height: 60px;
    }

    @include for-size(medium) {
      float: none;
      margin: 0 0 20px 0;
    }
  }

  @include e(error-text) {
    margin-top: 30px;
    font: normal 300 16px/1.38 $font-family--secondary;
  }

  @include e(icon-link) {
    display: block;
    color: $primary-color;
    

    @include e(icon) {
      font: normal 500 18px/1.56 $font-family--primary-medium;
      float: left;
      margin-right: 4px;
      @include m(right) {
        float: right;
        margin-left: 8px;
      }
    }

    @include e(text) {
      font: normal 500 16px/1.56 $font-family--primary-medium;
      width: calc(100% - 24px);
      float: left;

      @include for-size(medium) {
        font-size: 22px;
      }
    }

    &:hover,
    &:focus {
      text-decoration: none;

      .manufacturers-page__icon-link-text,
      .manufacturers-page__icon-link-text--auto {
        text-decoration: underline;
      }
    }
  }
}