.privacy-page {

  @include for-size(small) {
    padding-top: 0;
  }

  @include e(wrapper) {
    margin: 60px 0 50px;
  }

  @include e(main-header) {
    margin: 30px 0 30px;
    text-align: left;

    @include for-size(small) {
      margin: 80px 0 40px;
    }
  }

  @include e(primary-heading) {
    color: $black;
    font: normal bold 30px/1.14 $font-family--primary-bold;

    @include for-size(small) {
      font: normal bold 40px/1.14 $font-family--primary-bold;
    }
  }

  @include e(secondary-heading) {
    margin: 22px 0 17px;
    color: $black;
    font: normal 22px/1.14 $font-family--primary-medium;

    @include for-size(small) {
      margin: 35px 0 28px;
      font: normal 35px/1.14 $font-family--primary-medium;
    }
  }

  @include e(tertiary-heading) {
    margin: 15px 0 5px;
    color: $black;
    font: normal 18px/1.14 $font-family--primary-medium;

    @include for-size(small) {
      font: normal 22px/1.14 $font-family--primary-medium;
    }
  }

  @include e(last-update) {
    margin-top: 5px;
    color: $silver-sand;
    font: normal 16px/1.14 $font-family--primary;
  }

  @include e(paragraph) {
    font: normal 16px/1.5 $font-family--primary;
    margin-bottom: 10px;
    word-wrap: break-word;

    @include for-size(small) {
      font: normal 17px/1.5 $font-family--primary;
    }
  }
}
