.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  position: fixed;
  padding: 16px 0 12px;
  background-color: $white;

  @include for-size(small) {
    position: static;
    padding: 41px 0 30px;
  }

  @include m(fixed-top) {
    position: fixed;
    -moz-box-shadow: 0 1px 2px 0 rgba(141, 141, 148, 0.22);
    -webkit-box-shadow: 0 1px 2px 0 rgba(141, 141, 148, 0.22);
    box-shadow: 0 1px 2px 0 rgba(141, 141, 148, 0.22);

    @include for-size(small) {
      box-shadow: none;
      position: static;
    }
  }

  @include e(logo) {
    display: inline-block;
    width: 60px;

    @include for-size(small) {
      width: 80px;
    }

    img {
      width: 100%;
    }
  }
}
