.TwoUnevenColumnsGrid {
  position: relative;

  @include e(left-column) {
    padding: 45px 0 40px;

    @include for-size(large) {
      top: 0;
      left: 0;
      bottom: 0;
      width: 40%;
      right: auto;
      position: absolute;
      padding: 60px 0 90px;
    }
  }

  @include e(right-column) {
    padding: 45px 0 40px;

    @include for-size(large) {
      padding: 60px 0 90px;
    }
  }

  @include e(right-column-content) {
    @include for-size(large) {
      float: right;
      width: 57.225%;
    }
  }

  @include m(inverse) {
    @include m(right) {
      .TwoUnevenColumnsGrid__left-column {
        @include for-size(large) {
          width: 60%;
          float: left;
          position: static;
        }
      }

      .TwoUnevenColumnsGrid__right-column {
        @include for-size(large) {
          width: 40%;
          float: right;
        }
      }

      .TwoUnevenColumnsGrid__right-column-content {
        @include for-size(large) {
          width: 100%;
          float: left;
          max-width: 340px;
        }
      }
    }

    @include m(left) {
      .TwoUnevenColumnsGrid__left-column {
        @include for-size(large) {
          width: 100%;
          position: static;
        }
      }

      .TwoUnevenColumnsGrid__left-column-content {
        @include for-size(large) {
          float: left;
          width: 57.225%;
        }
      }

      .TwoUnevenColumnsGrid__right-column {
        @include for-size(large) {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: auto;
          width: 40%;
        }
      }

      .TwoUnevenColumnsGrid__right-column-content {
        @include for-size(large) {
          width: 100%;
          float: none;
          max-width: 340px;
        }
      }
    }
  }
}
