.hs-form-field {
    margin-bottom: 20px !important;
}

div.input {
  margin: 0px !important;
}

.form-columns-2 > div {
  padding: 0px;
  @include for-size(small) {
    &:nth-of-type(1) {
      padding-right: 10px;
    }
    &:nth-of-type(2) {
      padding-left: 10px;
    }
  }
}

input ,select  {
    width: 100% !important;
    outline: none;
    color: $black;
    padding: 12px 10px;
    border-radius: 4px;
    border: 2px solid $mischka;
    background-color: transparent;
    font: normal 500 18px $font-family--secondary;

    &::-moz-placeholder {
      color: $rolling-stone;
    }

    &::-webkit-input-placeholder {
      color: $rolling-stone;
    }

    &:-ms-input-placeholder {
      color: $rolling-stone;
    }

    &::placeholder {
      color: $rolling-stone;
    }

    &:focus {
      border-color: $primary-color;
    }
}

select { 
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  background-image: url('../img/icons/down-arrow.png');
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

select option { color : $black; }
select option[value=""] { color: #797c80; }
select:invalid { color: #797c80; }

.open { 
  background-image: url('../img/icons/up-arrow.png') !important;
}

.hs-error-msg {
    color: $monza;
    margin: 8px 0 0;
    display: inline-block;
    font: normal normal 18px $font-family--secondary;
}

.error {
    border-color: $monza;
}

label {
    margin-bottom: 8px;
    display: inline-block;
    color: $rolling-stone;
    font: normal normal 18px/1.33 $font-family--secondary;

    @include for-size(small) {
      line-height: 1.44;
    }
}

.hs_submit {
    display: flex;
}

.primary {
    color: $white;
    border-radius: 2px;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    min-width: 138px;
    margin-top: 12px;
    padding: 12px 20px;
    font: normal 500 18px $font-family--primary-medium;
  
    &:hover,
    &:focus {
      border-color: $egg-blue;
      background-color: $egg-blue;
    }
  
    &[disabled] {
      cursor: not-allowed;
      border-color: $primary-color;
      background-color: $primary-color;
    }
}