.IconTextLink {
  display: block;
  color: $primary-color;
  font: normal 500 18px/1.56 $font-family--primary-medium;

  @include e(icon) {
    float: left;
    margin-right: 4px;
    @include m(right) {
      float: right;
      margin-left: 8px;
    }
  }

  @include e(text) {
    width: calc(100% - 24px);
    float: left;
    @include m(full) {
      width: auto;
    }
  }

  &:hover,
  &:focus {
    text-decoration: none;

    .IconTextLink__text,
    .IconTextLink__text--auto {
      text-decoration: underline;
    }
  }
}
