.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1050;
  background-color: rgba(209, 214, 220, 0.9);
  display: none;

  @include for-size(small) {
    overflow-y: auto;
  }

  @include e(container) {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    position: absolute;

    @include for-size(small) {
      width: 100%;
      max-width: 600px;
      position: static;
      margin: 70px auto;
      overflow: initial;
    }

    @include for-sizes(600, 769) {
      top: 50%;
      left: 50%;
      margin: 0;
      bottom: auto;
      position: absolute;
      transform: translate(-50%, -50%);
    }

    @include for-size(large) {
      max-width: 700px;
    }
  }

  @include e(content) {
    width: 100%;
    min-height: 100%;
    position: relative;
    background-color: $white;
  }

  @include e(close-btn) {
    border: 0;
    cursor: pointer;
    position: absolute;
    background: transparent;
    position: absolute;
    right: 16px;
    top: 16px;
    width: 24px;

    &:hover,
    &:focus {
      outline: none;
    }

    @include for-size(small) {
      top: 25px;
      right: 20px;
      width: 30px;
    }

    @include for-size(large) {
      top: 16px;
      right: 16px;
    }
  }

  @include e(body) {
    padding: 55px 25px 30px;

    @include for-size(small) {
      padding: 89px 50px 45px;
    }

    @include for-size(large) {
      padding: 40px 60px;
    }
  }
}

.modal-display {
  display: block;
}
