.series-dpr {

  @include for-size(small) {
    padding-top: 0;
  }

  @include e(sub-text) {
    font-size: 14px;

    @include for-size(medium) {
      font-size: 16px;
    }
  }

  @include e(list) {
    margin-bottom: 66px;
    word-break: break-word;

    @include for-size(medium) {
      margin-bottom: 40px;
    }
  }

  @include e(primary-link) {
    line-height: 1.5;
    font-family: $font-family--primary;
  }
}
