.two-even-columns-grid {
  @include e(container) {
    padding: 0;
    max-width: none;

    @include for-size(medium) {
      padding: 0 36px;
      max-width: map-get($container-max-widths-map, medium);
    }

    @include for-size(large) {
      max-width: map-get($container-max-widths-map, large);
    }

    @include for-size(extra-large) {
      max-width: map-get($container-max-widths-map, extra-large);
    }
  }

  @include e(left-column) {
    @include for-size(medium) {
      width: 50%;
      float: left;
    }
  }

  @include e(left-column-container) {
    @include for-size(medium) {
      padding: 0;
    }
  }

  @include e(right-column) {
    @include for-size(medium) {
      width: 50%;
      float: right;
    }
  }

  @include e(right-column-container) {
    @include for-size(medium) {
      padding: 0;
    }
  }
}
