$gutter-width: 60px !default;
$grid-container: "container";
$grid-container-fluid: "container--fluid";

// Grid breakpoints for container
$grid-breakpoints: (
  extra-small: 0,
  small: $small,
  medium: $medium,
  large: $large,
  extra-large: $extra-large,
) !default;

// Max-widths for container grid breakpoints
$container-max-widths: $container-max-widths-map;

// Common properties for container class
%common-container {
  padding-right: ($gutter-width / 2);
  padding-left: ($gutter-width / 2);
  margin-right: auto;
  margin-left: auto;
}

// Container mixin
// $container-name - class name of container
@mixin make-container($container-name: $grid-container-fluid) {
  .#{$container-name} {
    width: 100%;
    @extend %common-container;
  }
}

// Container mixin - for defining container widths in each breakpoints
// $breakpoints    - map with respective breakpoint names and values
// $max-width      - map with respective breakpoint names and values for container maxwidths
// Make changes to $container-max-widths map to make changes in container width
@mixin make-container-fixed-width(
  $breakpoints: $grid-breakpoints,
  $max-width: $container-max-widths,
  $container-name: $grid-container
) {
  @each $size-name, $container-width in $max-width {
    @include for-size($size-name) {
      .#{$container-name} {
        width: 100%;
        max-width: map-get($max-width, $size-name);
      }
    }
  }
  .#{$container-name} {
    @extend %common-container;
  }
}

@include make-container;
@include make-container-fixed-width;
