* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

html,
body,
#root {
  font-size: 100%;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  color: $color-text;
  font-family: $font-family--primary;
  text-rendering: optimizeLegibility;
  position: relative;
}

a {
  outline: none;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

a,
span,
strong,
em {
  &::after {
    @extend %clearfix-none;
  }
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family--primary;
  font-weight: normal;
}

h1 {
  font-size: $head1-font-size;
}

h2 {
  font-size: $head2-font-size;
}

h3 {
  font-size: $head3-font-size;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.FSDebug .fs-block {
  background: red;
}

//Scalable and Modular Architecture for CSS (SMACSS)
//With SMACSS, we divide our styles into fives categories: base, layout, modules, states, and themes
