<div class="linkedin-page__banner">
    <header class="header linkedin-page__header">
        <div class="container">
            <a class="header__logo" href="/" title="Phil"><img src="/img/icons/phil-logo-m.svg"
                    alt="Logo of Phil" /></a>
        </div>
    </header>
    <div class="container linkedin-page__container">
        <h1 class="linkedin-page__banner-heading">Let’s Connect</h1>
        <p class="linkedin-page__banner-text">
            Learn how Phil can support<br />access to your therapies.
        </p>
    </div>
</div>