<footer class="Footer">
    <div class="Container Footer__container">
        <div class="Footer__nav">
            <ul class="Footer__nav-links">
                <li><a title="Manufacturers" href="/manufacturers">Manufacturers</a></li>
                <li><a title="Patient" href="/contact/patient">Patients</a></li>
                <li><a title="Insights" href="https://blog.phil.us/">Insights</a></li>
                <li><a title="Press" href="/press-releases">Press</a></li>
                <li><a title="About Us" href="/about-us">About Us</a></li>
            </ul>
            <ul class="Footer__nav-links">
                <li><a title="Careers at Phil" href="/careers">Careers</a></li>
                <li><a title="Patient Support" href="/contact">Patient Support</a></li>
                <li><a title="Terms of Use" href="/terms">Terms of Use</a></li>
                <li><a title="Privacy Policy" href="/privacy">Privacy Policy</a></li>
                <li><a title="HIPAA Notice" href="/hipaa">HIPAA Notice</a></li>
            </ul>
        </div>
        <div class="Footer__description">
            <div>© Phil, Inc.</div>
            <p class="Footer__address">234 Front Street,&nbsp;FL 4, <br
                    class="mobile-view">San&nbsp;Francisco,&nbsp;CA&nbsp;94111</p>
            <p class="Footer__email-address"><span>Manufacturer Contact: </span><img
                    src="/img/manufacturerinquiry-phil-us.svg" alt="manufacturer contact"></p>
        </div>
    </div>
</footer>
<script src="/js/main.js"></script>