<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" >
    {{$title := ""}}
    {{$image := ""}}
    {{$alt := ""}}
    {{$description := ""}}
    {{$baseUrl := $.Site.BaseURL}}

    {{$pageTitle:= .Scratch.Get "pageTitle"}}
    {{if eq $pageTitle "news-press"}}
        {{$title = "The Phil Platform - News & Press"}}
        {{$image = (printf "%s%s" $baseUrl "/img/icons/phil-logo-m.svg")}}
        {{$alt = "The Phil Platform"}}
        {{$spotlight := first 1 (where .Site.Pages "Params.spotlight" "true")}}
        {{$description = (index $spotlight 0).Params.description}}
    {{else if eq $pageTitle "home"}}
        {{$title = $.Site.Title}}
        {{$image = (printf "%s%s" $baseUrl "/img/icons/phil-logo-m.svg")}}
        {{$alt = "The Phil Platform"}}
        {{$description = $.Site.Params.Description}}
    {{else}}
        {{$title = (printf "%s%s" "The Phil Platform - " .Params.Title )}}
        {{if and (eq .Params.type "press-releases-content") (not (eq .Params.banner "")) }}
        {{$image = .Params.banner}}
        {{else}}
        {{$image = (printf "%s%s" $baseUrl "/img/icons/phil-logo-m.svg")}}
        {{end}}
        {{$alt = "The Phil Platform"}}
        {{$description = .Params.Description}}
    {{end}}
    <title>{{ $title }}</title>

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PGZDSGB');</script>

    <meta property="og:title" content="{{ $title }}">
    <meta property="og:url" content="{{ $baseUrl }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{$image}}">
    <meta property="og:image:secure_url" content="{{$image}}">
    <meta property="og:image:alt" content="{{$alt}}">
    <meta property="og:description" content="{{$description}}">
    <meta name="description" content="{{$description}}">
    <meta name="facebook-domain-verification" content="sacfa7h69axwhn0aeqxhr2346bl0v0" />

    {{ $css := resources.Get "sass/style.scss"}}
    {{ $css = $css | toCSS}}

    <link rel="stylesheet" href="{{$css.RelPermalink}}">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/20880193.js"></script>
    <!-- End of HubSpot Embed Code -->
    <!-- Start of ZoomInfo Script -->
    <script type="text/javascript" src="/js/zoominfo_script.js"></script>
    <!-- End of ZoomInfo Script -->
    <script>
        (function (options) {
            var s = document.createElement("script");
            s.async = true;
            s.src =
                "https://metadata-static-files.sfo2.cdn.digitaloceanspaces.com/pixel/lp.js";
            s.onload = function () {
                window.Metadata.pixel.init(options);
            };
            document.head.appendChild(s);
        })({ primaryKey: "name" });

        var apiEndPoint = "https://capi.phil.us";
    </script>
</head>