<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap" rel="stylesheet">
    <title>{{ .Site.Title }}</title>
    <meta property="og:title" content="{{ $.Site.Title }}">
    <meta property="og:url" content="{{ $.Site.BaseURL }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/static/img/Jobs-Page-Illustration_m-tb@2x.jpg">
    <meta property="og:image:secure_url" content="/static/img/Jobs-Page-Illustration_m-tb@2x.jpg">
    <meta property="og:image:alt" content="The Phil Platform">
    <meta property="og:description" content="{{ $.Site.Params.Description }}" >
    <meta name="description" content="{{ $.Site.Params.Description }}" >
    <link rel="stylesheet" href="/css/main.css">
</head>