<div class="main-container-wrapper manufacturers-page">
    {{ partial "pr_banner.html" . }}
    <div class="manufacturers-page__banner-wrapper">
        <header class="header manufacturers-page__header">
            <div class="container">
                <a class="header__logo" href="/" title="Phil"><img src="/img/icons/phil-logo-m.svg"
                        alt="Logo of Phil" /></a>
            </div>
        </header>
        <div class="manufacturers-page__banner">
            <div class="container">
                <h1 class="manufacturers-page__banner-heading">
                    Cost-Effective <br />
                    Next-Generation <br />
                    Patient Access Solutions
                </h1>
                <p class="manufacturers-page__banner-text">
                    PhilRx Patient Access Platform puts the manufacturer in control of
                    their distribution channels.
                </p>
            </div>
        </div>
    </div>