<div>
    <div class="container">
        <div class="news-page__title clearfix">
            <div class="left">
                <img src="/img/icons/news.svg" alt="" />
            </div>
            <h5 class="news-page__title__heading">Spotlight</h5>
        </div>
    </div>
    <div class="container two-even-columns-grid__container">
        <div class="two-even-columns-grid__left-column spotlight_left-column">
            <div class="container two-even-columns-grid__left-column-container">
                <div class="news-page__left-content">
                    <h1 class="news-page__heading">
                        {{ $.Site.Params.sp_title }}
                    </h1>
                    <span class="news-page__date">{{ dateFormat "Jan 2, 2006" $.Site.Params.date}}</span>
                    <div class="news-page__responsive-view">
                        <div class="news-page__responsive-view__image">
                            <img src="/img/spotlight.png" alt="" />
                        </div>
                    </div>
                    <p class="desktop-view-paragraph">
                        {{ $.Site.Params.sp_long_desc }}
                    </p>
                    <a class="IconTextLink clearfix left spotlight-read-more" title="Explore Our Market Access Platform" href={{ printf "%s"
                        $.Site.Params.link }}><span class="IconTextLink__icon--right">→</span><span
                            class="IconTextLink__text--auto">Read more</span></a>
                </div>
            </div>
        </div>
        <div class="two-even-columns-grid__right-column spotlight_right-column">
            <div class="container two-even-columns-grid__right-column-container">
                <div class="news-page__right-section-content">
                    <div class="news-page__right-section-content__image-wrapper">
                        <img src="/img/spotlight.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var regularPages = JSON.parse({{ jsonify .Site.RegularPages }});
    regularPages.forEach(function(e,i){
        if (e.Type == "press-releases-content" && e.Params.spotlight == true) {
            $('.news-page__heading').html(e.Title);
            $('.news-page__date').html(moment(e.Date).format('MMM D, Y'));
            $('.desktop-view-paragraph').html(e.Params.description);
            $('.spotlight-read-more').attr('href',e.Permalink);
        }
    });
</script>

