<div class="container">
    <div class="news-page__title clearfix">
        <div class="left">
            <img src="/img/icons/news.svg" alt="" />
        </div>
        <h5 class="news-page__title__heading">Spotlight</h5>
    </div>
</div>
<div class="container two-even-columns-grid__container">
    <div class="two-even-columns-grid__left-column">
        <div class="container two-even-columns-grid__left-column-container">
            <div class="news-page__left-content">
                <h1 class="news-page__heading">
                    Phil Announces up to $100M Strategic Growth Investment
                </h1>
                <span class="news-page__date">June 3, 2021</span>
                <p>
                    Phil, a software therapy deployment platform, today
                    announced a $56 million Series D fundraise led by Warburg
                    Pincus, a leading global growth investor. The investment is
                    part of an arrangement for Warburg Pincus to invest up to
                    $100 million and enables Phil to accelerate the
                    development.The investment is part of an arrangement for
                    Warburg Pincus to invest up to $100 million and enables Phil
                    to accelerate the development. The investment is part of an
                    arrangement for Warburg Pincus to invest up to $100 million
                    and enables Phil to accelerate the development.
                </p>
                <a class="IconTextLink clearfix left" title="Explore Our Market Access Platform"
                    href="/press-releases/phill_announce"><span class="IconTextLink__icon--right">→</span><span
                        class="IconTextLink__text--auto">Read more</span></a>
            </div>
        </div>
    </div>
    <div class="two-even-columns-grid__right-column">
        <div class="container two-even-columns-grid__right-column-container">
            <div class="news-page__right-section-content">
                <div class="news-page__right-section-content__image-wrapper">
                    <img src="/img/spotlight.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>