<div class="pr-banner">
    <div class="container">
        <div class="pr-banner__left left">
            <img class="pr-banner__icon" src="/img/icons/infoOutlineGray.svg" alt="info" />
        </div>
        <div class="pr-banner__right right">
            <span class="bold">Press Release:&nbsp;</span><span>Phil Announces up to $100M Strategic Growth
                Investment from Warburg
                Pincus, Fred Hassan to join Board of Directors.&nbsp;</span><a title="Read more about funding"
                href="/press-releases/phill_announce">Read more</a>
        </div>
    </div>
</div>