<html lang="en">
{{ .Scratch.Set "pageTitle" "home" }}
{{ partial "head.html" . }}

<body>
    <div class="main-container-wrapper">
        {{ partial "pr_banner.html" . }}
        <header class="header" id="pageHeader">
            <div class="container">
                <a class="header__logo" href="/" title="Phil"><img src="/img/icons/phil-logo-m.svg"
                        alt="Logo of Phil" /></a>
                <button class="button header__navbar-switch mobile-view" onclick="toggleMobileNavigation()">
                    <img src="/img/icons/hamburger.svg" alt="Logo of Phil" class="button__image-hamburger" />
                    <img src="/img/icons/times.svg" alt="Logo of Phil" class="button__image-close" />

                </button>
                <div class="desktop-view">
                    <ul class="header__nav">
                        <li class="header__nav__item">
                            <a href="/manufacturers" class="header__nav__link">Manufacturers</a>
                        </li>
                        <li class="header__nav__item">
                            <a href="https://my.phil.us/" class="header__nav__link">Patients</a>
                        </li>
                        <li class="header__nav__item">
                            <a href="https://blog.phil.us" class="header__nav__link">Insights</a>
                        </li>
                        <li class="header__nav__item">
                            <a href="/press-releases" class="header__nav__link">News & Press</a>
                        </li>
                    </ul>
                </div>
                </button>
            </div>
            <div class="header__dropdown mobile-view" id="headerDropdown">
                <div class="container">
                    <ul class="header__dropdown__nav">
                        <li class="header__dropdown__item">
                            <a href="/manufacturers" class="header__dropdown__link">Manufacturers</a>
                        </li>
                        <li class="header__dropdown__item">
                            <a href="https://my.phil.us/" class="header__dropdown__link">Patients</a>
                        </li>
                        <li class="header__dropdown__item">
                            <a href="https://blog.phil.us" class="header__dropdown__link">Insights</a>
                        </li>
                        <li class="header__dropdown__item">
                            <a href="/press-releases" class="header__dropdown__link">News & Press</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="two-even-columns-grid home-page__welcome">
            <div class="container two-even-columns-grid__container">
                <div class="two-even-columns-grid__left-column home-page__left-section">
                    <div class="container two-even-columns-grid__left-column-container">
                        <h1 class="home-page__heading">
                            Simple, Fast, <br>Affordable Patient Access 
                        </h1>
                        <div class="home-page__block__mobile">
                            <p class="home-page__text">
                                Our next generation patient access platform drives improved patient outcomes and experience getting them on therapy 4x faster. 
                            </p>
                            <a href="/manufacturers" title="Learn More"
                                class="LinkButton HomeLinkButton home-page__button-link">Learn More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="two-even-columns-grid__right-column home-page__right-section">
                    <div class="container two-even-columns-grid__right-column-container">
                        <div class="home-page__right-section-content">
                            
                            <div class="home-page__block">
                                <p class="home-page__text">
                                    Our next generation patient access platform drives improved patient outcomes and experience getting them on therapy 4x faster. 
                                </p>
                                <a href="/manufacturers" title="Learn More"
                                    class="LinkButton HomeLinkButton home-page__button-link">Learn More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="home-page__manufacturers">
                <div class="container">
                    <div class="home-page__manufacturers-section home-page__right-section-content">
                        <h2 class="home-page__sub-heading home-page__sub-heading--long">
                            Drive 3x higher coverage, <br>
                            5x higher adherence 
                        </h2>
                        <div class="home-page__block">
                            <p class="home-page__text">
                                Provide improved patient experience while ensuring more patients get access to, and stay, on therapies 
                            </p>
                            <a href="/manufacturers" title="Learn More"
                                    class="LinkButton HomeLinkButton home-page__button-link">Learn More
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            {{ partial "footer.html" . }}
        </div>
    </div>
</body>

</html>