<html lang="en">
{{ partial "head.html" . }}

<body>
    <div class="main-container-wrapper">
        {{ partial "pr_banner.html" . }}
        <header class="header" id="pageHeader">
            <div class="container">
                <a class="header__logo" href="/" title="Phil"><img src="/img/icons/phil-logo-m.svg"
                        alt="Logo of Phil" /></a>
                <button class="button header__navbar-switch mobile-view" onclick="toggleMobileNavigation()">
                    <img src="/img/icons/hamburger.svg" alt="Logo of Phil" class="button__image-hamburger" />
                    <img src="/img/icons/times.svg" alt="Logo of Phil" class="button__image-close" />

                </button>
                <div class="desktop-view">
                    <ul class="header__nav">
                        <li class="header__nav__item">
                            <a href="#" class="header__nav__link">Manufacturer Inquiry</a>
                        </li>
                        <li class="header__nav__item">
                            <a href="#" class="header__nav__link">Insights</a>
                        </li>
                        <li class="header__nav__item">
                            <a href="#" class="header__nav__link">News & Press</a>
                        </li>
                    </ul>
                </div>
                </button>
            </div>
            <div class="header__dropdown mobile-view" id="headerDropdown">
                <div class="container">
                    <ul class="header__dropdown__nav">
                        <li class="header__dropdown__item">
                            <a href="#" class="header__dropdown__link">Manufacturer Inquiry</a>
                        </li>
                        <li class="header__dropdown__item">
                            <a href="#" class="header__dropdown__link">Insights</a>
                        </li>
                        <li class="header__dropdown__item">
                            <a href="#" class="header__dropdown__link">News & Press</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="two-even-columns-grid home-page__welcome">
            <div class="container two-even-columns-grid__container">
                <div class="two-even-columns-grid__left-column home-page__left-section">
                    <div class="container two-even-columns-grid__left-column-container">
                        <h1 class="home-page__heading">
                            Modern Access <br />
                            Solutions for <br />
                            Better Outcomes
                        </h1>
                    </div>
                </div>
                <div class="two-even-columns-grid__right-column home-page__right-section">
                    <div class="container two-even-columns-grid__right-column-container">
                        <div class="home-page__right-section-content">
                            <p class="home-page__sub-text">For Patients</p>
                            <h2 class="home-page__sub-heading">
                                Lowest Accessible Pricing Plus Free Shipping
                            </h2>
                            <div class="home-page__block">
                                <p class="home-page__text">
                                    Already created a patient account?
                                </p>
                                <a href="https://my.phil.us/login" title="Log in to Phil"
                                    class="LinkButton SecondaryLinkButton home-page__button-link">Log In</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="home-page__manufacturers">
                <div class="container">
                    <div class="home-page__manufacturers-section home-page__right-section-content">
                        <p class="home-page__sub-text">For Manufacturers</p>
                        <h2 class="home-page__sub-heading home-page__sub-heading--long">
                            Customizable Market Access Solutions at a Fraction of the Cost
                        </h2>
                        <a class="IconTextLink clearfix home-page__link home-page__link--footer"
                            title="Explore Our Market Access Platform" href="/manufacturers"><span
                                class="IconTextLink__icon">→</span><span class="IconTextLink__text">Explore Our Patient
                                Access Platform</span></a>
                    </div>
                </div>
            </div>
            {{ partial "footer.html" . }}
        </div>
    </div>
</body>

</html>